.expandable-list.blue .list-item-title .count {
  color: #4296B3;
}

.expandable-list .list-item-title.blue {
  color: #4296B3;
  font-weight: 300;
}

.expandable-list.blue .list-item-title,
.expandable-list  .list-item-description {
  color: #333333;
}



.expandable-list .list-item-title.text-decoration-underline {
  text-decoration: underline;
}

.expandable-list  .list-item-title {
  margin-bottom: 0.5em;
  display: block;
  border: none;
  background: transparent;
  text-align: left;
  padding: 0;
}

.expandable-list  .list-item-title:focus {
  outline: none;
}

  
.expandable-list  .expandable {
  cursor: pointer;
}

.expandable-list  .no-expandable {
  cursor: text;
}

.expandable-list  li .description {
  cursor: text;
}

.expandable-list  .list-item-description.show {
  /* transition: height 0.4s ease-in; */
}

.expandable-list  .list-item-description.hide {
  overflow: hidden;
  height: 0;
}


.expandable-list [data-rbd-draggable-context-id] {
  margin-bottom: 0 !important;
}