.filters-container {
  display: flex;
  width: 100%;
  flex-flow: row;
  margin: 0 auto;
}

.filters-container > .search-input-container {
  flex: 1 0 0;
  padding: 0.5em 0;
  margin-right: 1em;
}

.filters-container .search-input-container .ref {
  position: relative;
}

.search-input-container .ui.input.search input {
  padding-right: 3em !important;
  padding-left: 1em !important;
  border-radius: 22px;
}

.search-input-container .ui.input.search button {
  position: absolute;
  background-color: transparent;
  border: none;
  padding: 0;
  right: .5em;
  height: 100%;
}

.search-input-container .ui.input.search button.delete-icon {
  right: 2em;
}

.search-input-container .ui.input.search .icon {
  opacity: 1;
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  right: unset;
  top: unset;
}

.search-input-container .ui.input.search .icon::before {
  color: #d63d27;
  font-size: 1.3em;
}

.filters-container > .buttons-container {
  padding: 0.5em 0;
}

.filters-block.ui.modal > .header:not(.ui) {
  display: flex;
  justify-content: space-between;
  color: #4296b2;
  font-size: 2em;
  font-weight: bold;
}

.filters-block.ui.modal > .header span {
  color: #d63d27;
  cursor: pointer;
  font-weight: bold;
}

.filters-block.ui.modal .ui.header {
  margin: 0.5em 0;
  color: #4296b2;
  font-size: 1.3em;
  font-weight: bold;
}

.filters-block.ui.modal h3.ui.header {
  margin-top: 1em;
}

.filters-block.ui.modal .actions {
  text-align: center;
}

.filters-block.ui.modal .actions button.solid {
  padding: 1em 2em;
}

.filters-block.ui.modal .ui.selection.dropdown,
.filters-block .ui.selection.dropdown {
  display: inline-block !important;
  min-width: 14em;
  min-height: 2.71428571em;
  padding: 0.78571429em 2.1em 0.78571429em 1em;
  border: 1px solid rgba(34, 36, 38, 0.15);
  background: #fff;
  border-radius: 0.28571429rem;
  box-shadow: none;
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
  line-height: 1em;
  outline: 0;
  transform: rotateZ(0);
  transition: width 0.1s ease, -webkit-box-shadow 0.1s ease;
  transition: box-shadow 0.1s ease, width 0.1s ease;
  transition: box-shadow 0.1s ease, width 0.1s ease,
    -webkit-box-shadow 0.1s ease;
  white-space: normal;
  word-wrap: break-word;
}

.filters-block.ui.modal .ui.active.selection.dropdown,
.filters-block .ui.active.selection.dropdown {
  border: 1px solid;
  border-color: rgba(34, 36, 38, 0.15);
  border-bottom: 1px dotted rgba(34, 36, 38, 0.15);
}

.filters-block.ui.modal .ui.selection.active.dropdown:hover,
.filters-block .ui.selection.active.dropdown:hover {
  border: 1px solid;
  border-color: #4296b2;
  border-bottom: 1px dotted #4296b2;
}

.filters-container .ui.search.selection.dropdown > input.search,
.filters-block.ui.modal .ui.search.selection.dropdown > input.search,
.filters-block .ui.search.selection.dropdown > input.search {
  padding: 0.78571429em 2.1em 0.78571429em 1em;
}

.filters-container .search,
.filters-block.ui.modal .search {
  width: 100%;
}

.filters-container .search-results,
.filters-block.ui.modal .search-results {
  position: absolute;
  z-index: 98;
  overflow: auto;
  width: 100%;
  padding: 1rem;
  border: 1px solid #ededed;
  margin: 0;
  margin: 0;
  background: white;
  border-radius: 5px;
  box-shadow: 0px 2px 4px -3px;
  color: #000;
  list-style-type: none;
}

.filters-container .search-results .ui.list .item,
.filters-block.ui.modal .search-results .ui.list .item {
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 4px;
  cursor: pointer;
}

.filters-container .search-results .ui.list .item .suggestion-term {
  width: 80%;
}

.filters-container .search-results .ui.list .item .mark,
.filters-block.ui.modal .search-results .ui.list .item .mark {
  background-color: transparent;
  color: #000;
  font-weight: bold;
}

.filters-container .search-results .ui.list .item.selected,
.filters-block.ui.modal .search-results .ui.list .item.selected {
  background-color: #efefef;
}

.filters-container .search-results .ui.list .item .info,
.filters-block.ui.modal .search-results .ui.list .item .info {
  position: absolute;
  right: calc(1em + 4px);
  color: #b8c6c8;
}

.filters-container .search-results .ui.list .item.selected .info,
.filters-block.ui.modal .search-results .ui.list .item.selected .info {
}

.filters-container .search-results .ui.list .item:hover .info,
.filters-block.ui.modal .search-results .ui.list .item:hover .info {
  color: #000;
}

.filters-block.ui.modal .ui.selection.dropdown > .dropdown.icon,
.filters-block .ui.selection.dropdown > .dropdown.icon {
  position: absolute;
  z-index: 3;
  top: 0.78571429em;
  right: 1em;
  width: auto;
  height: auto;
  padding: 0.91666667em;
  margin: -0.78571429em;
  color: #d63d27;
  cursor: pointer;
  line-height: 1.21428571em;
  opacity: 0.8;
  transition: opacity 0.1s ease;
}

.filters-block.ui.modal .input-container,
.filters-block .input-container {
  display: inline-flex;
  align-items: center;
  padding: 0.5em 0;
  margin-right: 1em;
}

.filters-block.ui.modal .search-input-container {
  position: relative;
  padding: 0.5em 0;
  margin-right: 1em;
}

.filters-block.ui.modal .actions-container {
  display: flex;
  margin-left: 0.5em;
}

.filters-block.ui.modal .add-button.icon,
.filters-block.ui.modal .remove-button.icon {
  cursor: pointer;
  fill: #d63d27 !important;
}

.filters-block.ui.modal .add-button.icon:hover,
.filters-block.ui.modal .remove-button.icon:hover {
  fill: #b6564a !important;
}

.filters-block.ui.modal .filter-container {
  display: block;
}

.filters-container .flex {
  display: flex;
}

.filters-container .space-between {
  justify-content: space-between;
}

#dynamic-filter-toggle {
  display: none;
}

#dynamic-filter {
  display: none;
}

@media (max-width: 500px) {
  .filters-container {
    flex-flow: column;
  }

  .filters-container > .search-input-container {
    margin-right: 0;
  }

  .filters-container .buttons-container button {
    width: 100%;
  }
}
