.filters-block.ui.modal>.header:not(.ui) {
  display: flex;
  justify-content: space-between;
  color: #4296B2;
  font-weight: bold;
  font-size: 2em;
}

.filters-block.ui.modal>.header span {
  cursor: pointer;
  color: #E16D5D;
  font-weight: bold;
}

.filters-block.ui.modal .ui.header {
  color: #4296B2;
  font-weight: bold;
  font-size: 1.3em;
  margin: 0.5em 0;
}

.filters-block.ui.modal .actions {
  text-align: center;
}

.filters-block.ui.modal .actions button.solid {
  padding: 1em 2em;
}

.filters-block.ui.modal .ui.selection.dropdown {
  cursor: pointer;
  word-wrap: break-word;
  line-height: 1em;
  white-space: normal;
  outline: 0;
  transform: rotateZ(0);
  min-width: 14em;
  min-height: 2.71428571em;
  background: #fff;
  display: inline-block !important;
  padding: .78571429em 2.1em .78571429em 1em;
  color: rgba(0, 0, 0, .87);
  box-shadow: none;
  border: 1px solid rgba(34, 36, 38, .15);
  border-radius: .28571429rem;
  transition: width .1s ease, -webkit-box-shadow .1s ease;
  transition: box-shadow .1s ease, width .1s ease;
  transition: box-shadow .1s ease, width .1s ease, -webkit-box-shadow .1s ease;
}

.filters-block.ui.modal .ui.search.selection.dropdown > input.search {
  padding: .78571429em 2.1em .78571429em 1em;
}

.filters-block.ui.modal .search {
  width: 100%;
}

.filters-block.ui.modal .search-results {
  position: absolute;
  z-index: 98;
  width: 100%;
  margin: 0;
  list-style-type: none;
  overflow: auto;
  margin: 0;
  padding: 1rem;
  background: white;
  color: #000;
  border: 1px solid #EDEDED;
  border-radius: 5px;
  box-shadow: 0px 2px 4px -3px;
}

.filters-block.ui.modal .search-results .ui.list .item {
  cursor: pointer;
}

.filters-block.ui.modal .search-results .ui.list .item > span  {
  color: red;
}

.filters-block.ui.modal .ui.selection.dropdown>.dropdown.icon {
  cursor: pointer;
  position: absolute;
  width: auto;
  height: auto;
  line-height: 1.21428571em;
  top: .78571429em;
  right: 1em;
  z-index: 3;
  margin: -.78571429em;
  padding: .91666667em;
  opacity: .8;
  transition: opacity .1s ease;
  color: #E16D5D;
}

.filters-block.ui.modal .input-container {
  display: inline-flex;
  align-items: center;
  padding: 0.5em 0;
  margin-right: 1em;
}

.filters-block.ui.modal .search-input-container {
  padding: 0.5em 0;
  margin-right: 1em;
  position: relative;
}

.filters-block.ui.modal .actions-container {
  margin-left: 0.5em;
  display: flex;
}

.filters-block.ui.modal .add-button.icon,
.filters-block.ui.modal .remove-button.icon {
  fill: #E16D5D !important;
  cursor: pointer;
}

.filters-block.ui.modal .add-button.icon:hover,
.filters-block.ui.modal .remove-button.icon:hover  {
  fill: #b6564a !important;
}

.filters-block.ui.modal .filter-container {
  display: block;
}