.react-grid-item .block-container,
.react-grid-item .block-container .block-wrapper,
.sidebar-block-container,
.sidebar-block-container .sidebar {
  height: 100%;
}

.sidebar-block-container .sidebar {
  background-color: #f3efee;
  display: flex;
  transition: width 0.2s;
}

.sidebar-block-container .sidebar .tabs {
  display: flex;
  flex-flow: column;
  max-width: 220px;
}

.sidebar-block-container .sidebar.hidden {
  width: 0;
  overflow: hidden;
}

.sidebar-block-container .sidebar.show {
  width: 100%;
}

.sidebar-block-container .sidebar .tabs {
  flex-direction: column;
  display: inline-flex;
  position: relative;
  margin: 2em auto;
  padding: 0 1em;
}

.sidebar-block-container .sidebar .tabs .tabs__item,
.sidebar-block-container .sidebar .tabs .tabs__item_active {
  background-color: transparent;
  border: none;
  text-align: left;
  color: #333333;
  padding-bottom: 1rem;
  cursor: pointer;
}

.sidebar-block-container .sidebar .tabs .tabs__item:focus,
.sidebar-block-container .sidebar .tabs .tabs__item_active:focus {
  outline: none;
}

.sidebar-block-container .sidebar .tabs .tabs__item.hidden {
  display: none;
}

.sidebar-block-container .sidebar .tabs .tabs__item.show {
  display: block;
}

.sidebar-block-container .sidebar .tabs .tabs__item.depth__2 {
  padding-left: 1em;
}

.sidebar-block-container .sidebar .tabs .tabs__item.depth__3 {
  padding-left: 2em;
}

.sidebar-block-container .sidebar .tabs .tabs__item.depth__4 {
  padding-left: 3em;
}

.sidebar-block-container .sidebar .tabs .tabs__item_active {
  color: #ED776A
}

.sidebar-block-container .sidebar .tabs .tabs__item_active.depth__2 {
  color: #ED776A
}

.sidebar-block-container .sidebar .tabs .tabs__item_active.depth__3 {
  color: #333333;
  font-weight: bold;;
}
