.sidebar-block .ui.menu {
  flex-flow: column;
  border-bottom: none;
  background: transparent;
}

.sidebar-block .ui.menu .item {
  background: transparent;
}

.sidebar-block .ui.menu .item,
.sidebar-block .ui.menu .item.active {
  padding-bottom: 1rem;
  border: none;
  background-color: transparent;
  color: #333333 !important;
  cursor: pointer;
  text-align: left;
}

.sidebar-block .ui.menu .item.hidden {
  display: none;
}

.sidebar-block .ui.menu .item.show {
  display: block;
}

.sidebar-block .ui.menu .item.depth__1 {
  margin-left: 1em;
}

.sidebar-block .ui.menu .item.depth__2 {
  margin-left: 2em;
}

.sidebar-block .ui.menu .item.depth__3 {
  margin-left: 3em;
}

.sidebar-block .ui.menu .item.depth__4 {
  margin-left: 4em;
}

.sidebar-block .ui.menu .item.depth__5 {
  margin-left: 5em;
}

.sidebar-block .ui.menu .item.active {
  background-color: transparent !important;
  color: #ed776a !important;
}

.sidebar-block .ui.menu .item.active.depth__3 {
  color: #333333;
  /* font-weight: bold;; */
}
