.articles-sparql {
  position: relative;
}

.articles .articles-row {
  z-index: 1;
  height: 250px;
  align-items: center;
  justify-content: center;
}

.articles .article {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.articles .articles-row.can-be-half:last-child {
  position: relative;
  z-index: 0;
  overflow: hidden;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0))
  );
  transform: translateY(-20%);
}

.articles .articles-row.can-be-half:last-child .article {
  position: relative;
  overflow: hidden;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0))
  );
  transform: translateY(20%);
}

.articles .article.hero {
  align-items: center;
}

.articles .article.hero img {
  width: auto;
  max-width: -webkit-fill-available;
  height: auto;
  max-height: 200px;
  border-radius: 2em;
}

.articles .article-header,
.articles .article-description {
  position: relative;
  display: block;
}

.articles .article-header h3 {
  display: -webkit-box;
  overflow: hidden;
  max-height: 1.5em;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-height: 1.5em;
  text-overflow: ellipsis;
}

.articles .article-description p {
  display: -webkit-box;
  overflow: hidden;
  max-height: 4.5em;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-height: 1.5em;
  text-overflow: ellipsis;
}

.articles-slideshow {
  position: absolute;
  top: 50%;
  right: 1em;
  display: flex;
  flex-direction: column;
  transform: translateY(-50%);
}

.articles-slideshow .icon {
  cursor: pointer;
}

.articles-redirect {
  position: absolute !important;
  bottom: 7em !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}

.articles-redirect.relative {
  position: reltive !important;
  bottom: unset;
  left: unset;
  display: inline-block;
  transform: unset;
}

@media (min-width: 500px) and (max-width: 768px) {
  .sm-height-fit-content {
    height: fit-content !important;
  }
}

@media (max-width: 500px) {
  .xs-height-fit-content {
    height: fit-content !important;
  }
}

@media (max-width: 768px) {
  .articles .articles-row.can-be-half:last-child {
    transform: translateY(-10%);
  }
}
