.articles-sparql {
  position: relative;
}

.articles .articles-row {
  align-items: center;
  height: 250px;
  justify-content: center;
  z-index: 1;
}

.articles .article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.articles .articles-row.can-be-half:last-child  {
  position: relative;
  overflow: hidden;
  transform: translateY(-20%);
  z-index: 0;
  -webkit-mask-image: -webkit-gradient(linear, left top, 
    left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

.articles .articles-row.can-be-half:last-child .article {
  position: relative;
  transform: translateY(20%);
  overflow: hidden;
  -webkit-mask-image: -webkit-gradient(linear, left top, 
    left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

.articles .article.hero {
  align-items: center;
}

.articles .article.hero img {
  border-radius: 2em;
  max-height: 200px;
  max-width: -webkit-fill-available;
  width: auto;
  height: auto;
}

.articles .article-header,
.articles .article-description {
  display: block;
  position: relative;
}

.articles .article-header h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-height: 1.5em;
  max-height: 1.5em;
}

.articles .article-description p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-height: 1.5em;
  max-height: 4.5em;
}

.articles-slideshow {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  right: 1em;
  transform: translateY(-50%);
}

.articles-slideshow .icon {
  cursor: pointer;
}

.articles-redirect {
  position: absolute !important;
  bottom: 7em;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: 500px) and (max-width: 768px) {
  .sm-height-fit-content {
    height: fit-content !important;
  }
}

@media (max-width: 768px) {
  .articles .articles-row.can-be-half:last-child  {
    transform: translateY(-10%);
  }
}