.vscode/
logs
*.log
npm-debug.log*
.DS_Store
cache
.nyc_output/
coverage
cypress/videos
cypress/reports
node_modules
build
.env.local
.env.development.local
.env.test.local
.env.production.local

data
omelette

src/addons
src/develop
