.children-links-container {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.children-links-container .ui.grid {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.children-links-container .children-link-container {
  display: inline-block;
  box-sizing: border-box;
  padding: 0.7em 1.5em;
  border: 1px solid #32536b;
  margin: 0.5em 0;
  border-radius: 30px;
}

.children-links-container .children-link {
  color: #32536b;
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
}

.children-links-container .column {
  padding: 2px;
}
