/* DISPLAY */
.flex {
  display: flex;
}

.grid {
  display: grid;
  grid-gap: 20px;
}

.display-block {
  display: block;
}

/* GRID LAYOUT */
.grid-cl-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-cl-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-cl-4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid-cl-5 {
  grid-template-columns: repeat(5, 1fr);
}

.grid-cl-6 {
  grid-template-columns: repeat(6, 1fr);
}

.grid-cl-7 {
  grid-template-columns: repeat(7, 1fr);
}

/* FLEX FLOW */
div.flex-row {
  flex-flow: row;
}

div.flex-column {
  flex-flow: column;
}

/* ALIGN ITEMS */
div.align-center {
  align-items: center;
}
div.align-stretch {
  align-items: stretch;
}
/* JUSTIFY CONTENT */
div.space-between {
  justify-content: space-between;
}

div.banner {
  background: #989898;
  color: #000;
  padding: 0 1rem;
  border-radius: 10px;
}

div.banner p {
  color: #fff;
}

div.banner.light-blue {
  background: #4296B2;
  color: #fff;
}

.light-blue {
  color: #4296B2;
}

.red {
  color: #EE7A72;
}

div.flex-item {
  margin: 1rem;
}

/* PARAGRAPH */
p.bold {
  font-weight: bold;
}

p.lighter {
  font-weight: 300;
}

p.info {
  color: #989898;
  font-weight: 300;
  font-size: 14px;
}

p.dark {
  color: #333333;
}

/* MARGINS */
.mt-0,
h1.mt-0:first-child {
  margin-top: 0;
}

.mt-1,
h1.mt-1:first-child  {
  margin-top: 1rem;
}

.mt-2,
h1.mt-2:first-child  {
  margin-top: 2rem;
}

.mt-3,
h1.mt-3:first-child  {
  margin-top: 3rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-2 {
  margin-left: 2rem;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-2 {
  margin-right: 2rem;
}

.ma-0 {
  margin: 0;
}
.ma-1 {
  margin: 1rem;
}
.ma-2 {
  margin: 2rem;
}
.ma-3 {
  margin: 3rem;
}

/* WIDTHS */
.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-80 {
  width: 80%;
}

.w-90 {
  width: 90%;
}

.w-100 {
  width: 100%;
}

/* PADDINGS */
.pa-0 {
  padding: 0;
}
.pa-1 {
  padding: 1rem;
}
.pa-2 {
  padding: 2rem;
}
.pa-3 {
  padding: 3rem;
}

.list-style-none {
  list-style: none;
}

.bat-container {
  border: 1px solid #606060;
  padding: 16px;
  border-radius: 10px;
  box-sizing: border-box;
}

.bat-container .bat-title {
  font-size: 18px;
  line-height: 23px;
  color: #EC776A;
  font-weight: 300;
  text-decoration: underline;
}

.bat-container div.hr {
  height: 1px;
  background-color: #606060;
}

.bat-container a,
.bat-container a:hover {
  text-decoration: underline;
}

.bat-aels-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.bat-action button {
  cursor: pointer;
  background: transparent;
  border: none;
  color: #EC776A;
  text-decoration: underline;
}

.bat-action button:focus {
  outline: none;
}

.float-left {
  float: left;
}

.clear-fix:after,
.clear-fix:before {
  content: "";
  clear: both;
  display: table;
}

.float-right {
  float: right;
}

.border-1 {
  border: 1px solid #000;

}

.border-gray {
  border-color: #606060;
}

.border-radius-10 {
  border-radius: 10px;
}

div.hr {
  height: 1px;
  width: 100%;
  background-color: #000;
}

.bg-gray,
div.hr.bg-gray {
  background-color: gray;
}

.underline {
  text-decoration: underline;
}

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

a.small h1 {
  font-size: 16px;
}
  

@media(max-width: 768px) {
  div.responsive.flex {
    flex-flow: column;
  }

  div.responsive.flex>* {
    width: 100%;
    margin-bottom: 26px;
  }

  div.responsive.align-center {
    align-items: normal
  }

  .responsive.grid.grid-cl-3,
  .responsive.grid.grid-cl-4,
  .responsive.grid.grid-cl-5,
  .responsive.grid.grid-cl-6,
  .responsive.grid.grid-cl-7 {
    grid-template-columns: repeat(2, 1fr);
  }

  .banner.float-right,
  .banner.float-left {
    float: none;
    width: 100%;
    margin-bottom: 2rem;
  }
}

.eprtr-box {
  background-color: #4296B3;
  border-radius: 10px;
  padding: 1em 2em;
  width: 600px;
}

.white,
.ui.selection.dropdown.white {
  color: #fff;
}

.transparent,
.ui.selection.dropdown.transparent {
  background-color: transparent;
}

.border-0,
.ui.selection.dropdown.border-0 {
  border: none;
  border-bottom: none;
  border-top: none;
  border-left: none;
  border-right: none;
}

.dropdown-padding {
  padding: 0.4em 1.1em 0.4em 0;;
}

.min-height-auto,
.ui.selection.dropdown.min-height-auto {
  min-height: auto;
}

.ui.dropdown {
  display: flex;
  align-items: center;
}

.ui.dropdown > .dropdown.icon {
  font-size: 2em;
  margin-left: 5px;
}

.link-list {
  color: #EC776A;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  grid-gap: 20px;
}

.link-list li {
  counter-increment: link-list-counter;
}

.link-list li:before {
  content: counter(link-list-counter)".";
  color: #EC776A;
  font-size: 1.5rem;
}

.link-list li button {
  background: transparent;
  border: none;
  color: #EC776A;
}

.link-list li button:focus {
  outline: none;
}

.custom-selector h1.ui.header {
  margin-bottom: 0;
}

.custom-selector .ui.selection.dropdown {
  width: fit-content;
  padding: 0;
  border-bottom: none;
  min-width: unset;
  min-height: unset;
  line-height: 1em;
}

.custom-selector .ui.selection.dropdown > .default.text,
.custom-selector .ui.selection.dropdown > .text,
.custom-selector .ui.selection.visible.dropdown > .text:not(.default) {
  padding-left: 0;
}

.custom-selector .ui.selection.dropdown > .dropdown.icon {
  position: relative;
  margin: 0;
  margin-left: 0 !important;
  top: unset;
  left: unset;
  right: unset;
  bottom: unset;
  line-height: 1em;
  font-size: 1.7em!important;
}

.custom-selector.big h1.ui.header {
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
}

.custom-selector.big .ui.selection.dropdown > .dropdown.icon {
  font-size: 30px !important;
  line-height: 39px;
  margin-right: 1em;
}

.custom-selector.big .ui.selection.dropdown > .default.text,
.custom-selector.big .ui.selection.dropdown > .text,
.custom-selector.big .ui.selection.visible.dropdown > .text:not(.default) {
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;
}

.custom-selector.red h1.ui.header,
.custom-selector.red .ui.selection.dropdown,
.custom-selector.red .ui.selection.dropdown > .default.text,
.custom-selector.red .ui.selection.dropdown > .text,
.custom-selector.red .ui.selection.visible.dropdown > .text:not(.default) {
  color: #EC776A;
  background-color: transparent;
}

.custom-selector.white h1.ui.header,
.custom-selector.white .ui.selection.dropdown,
.custom-selector.white .ui.selection.dropdown > .default.text,
.custom-selector.white .ui.selection.dropdown > .text,
.custom-selector.white .ui.selection.visible.dropdown > .text:not(.default) {
  color: #fff;
  background-color: transparent;
}

@media (max-width: 500px) {
  .custom-selector .selector-container {
    flex-flow: column;
  }
}

.eprtrBatConclusions.bat-container .bat-conclusion:last-child .bat-details {
  margin-bottom: 0;
}

.eprtrBatDerogations .ui.table {
  background: transparent !important;
  border: none !important;
  margin-left: -0.78571429em;
}

.eprtrBatDerogations .ui.table thead th {
  color: #000;
  font-weight: bold;
  text-transform: none;
  background: transparent;
  border: none;
  border-left: none !important;
  border-right: none !important;
}

.eprtrBatDerogations .ui.table tbody td {
  border-bottom: none !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}