.facility-details h3.blue {
  color: #4296b2;
}

.facility-details .header-tooltip {
  display: flex;
  align-items: center;
}

.facility-details .floating-icon {
  display: flex;
}

.facility-details .header-tooltip h3 {
  margin-right: 0.3rem;
  margin-bottom: 0;
}

.facility-details .list {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  padding: 0;
  color: #ec776a;
  grid-gap: 20px;
  list-style: none;
}

.facility-details .list li button {
  padding: 0;
  border: none;
  background: transparent;
  color: #ec776a;
}

.facility-details .list li button:focus {
  outline: none;
}
