.site-details h3.blue {
  color: #4296b2;
}

.site-details h3.dark {
  color: #000;
}

.site-details .header-tooltip {
  display: flex;
  align-items: center;
}

.site-details .floating-icon {
  display: flex;
}

.site-details .header-tooltip h3 {
  margin-right: 0.3rem;
  margin-bottom: 0;
}

.site-details .list {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  padding: 0;
  color: #ec776a;
  grid-gap: 20px;
  list-style: none;
}

.site-details .list li button {
  padding: 0;
  border: none;
  background: transparent;
  color: #ec776a;
}

.site-details .list li button:focus {
  outline: none;
}

.site-details .detail p {
  padding-right: 1rem;
  padding-left: 1rem;
  margin-left: -1rem;
  word-break: break-all;
}
