.query-parameters-list-widget > p {
  padding: 0 1em;
  margin-bottom: 6px !important;
}

ul.query-parameters-list {
  display: flex;
  padding: 0;
  padding: 0 1em;
}

ul.query-parameters-list li {
  padding: 4px;
  color: #007eb1;
  text-decoration: underline;
}

ul.query-parameters-list li button {
  border: none;
  background: transparent;
  color: #007eb1;
  cursor: pointer;
}
