.map {
  width: 100%;
  height: 100%;
}

.openlayer-map-container {
  height: 100%;
}

.block-edit-wrapper .openlayer-map-container {
  height: 90%;
}

#map-sidebar {
  height: 100%;
}

.loader {
  position: absolute;
  width: 32px;
  height: 32px;
  font-weight: bold;
  font-size: 30px;
  z-index: 1;
  bottom: 1rem;
  right: 1rem;
}

.circular-loader {
  width: 100%;
  height: 100%;
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
}

.loader-path {
  stroke-dasharray: 150, 200;
  stroke-dashoffset: -10;
  -webkit-animation: dash 1.5s ease-in-out infinite,
    color 6s ease-in-out infinite;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}
@-webkit-keyframes color {
  0% {
    stroke: #7c9ac0;
  }
  40% {
    stroke: #7c9ac0;
  }
  66% {
    stroke: #7c9ac0;
  }
  80%,
  90% {
    stroke: #7c9ac0;
  }
}
@keyframes color {
  0% {
    stroke: #7c9ac0;
  }
  40% {
    stroke: #7c9ac0;
  }
  66% {
    stroke: #7c9ac0;
  }
  80%,
  90% {
    stroke: #7c9ac0;
  }
}

#map-loader.ui.active {
  position: absolute !important;
  top: 0 !important;
  right: unset !important;
  bottom: unset !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  pointer-events: auto !important;
  transform: none !important;
}

#popup.popup {
  position: absolute;
  bottom: 10px;
  min-width: 280px;
  max-width: 280px;
  background-color: white;
  transform: translateX(-50%);
}

#popup-details {
  min-width: 420px;
  background-color: white;
}

.ol-popup-details {
  position: absolute !important;
  top: 50% !important;
  right: unset !important;
  bottom: unset !important;
  left: 50% !important;
  pointer-events: auto !important;
  transform: translate(-50%, -50%) !important;
}

.ol-overlay-container.show #popup.popup,
.ol-overlay-container.show #popup-details.popup {
  border: 1px solid #cccccc;
  border-radius: 0.3rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.ol-overlay-container.show #popup-details.popup {
  border: 2px solid #417283;
}

.ol-overlay-container.show #popup.popup:after,
.ol-overlay-container.show #popup.popup:before {
  position: absolute;
  top: 100%;
  width: 0;
  height: 0;
  border: solid transparent;
  content: ' ';
  pointer-events: none;
}

.ol-overlay-container.show #popup.popup:after {
  left: 50%;
  border-width: 10px;
  border-top-color: white;
  transform: translateX(-50%);
}

.ol-overlay-container.show #popup.popup:before {
  left: 50%;
  border-width: 11px;
  border-top-color: #cccccc;
  margin-left: -11px;
}

#popup-details:after,
#popup-details:before {
  display: none;
}

#popup-details .popover-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}

#popup-details .popover-actions {
  border-bottom: none;
  background-color: transparent;
}

#popup-details .popover-body {
  padding: 1rem 2rem;
}

#popup-details .popover-actions button.solid {
  padding: 1rem 2rem;
}

#popup-details .popover-header .ui.header,
#popup-details .popover-body .ui.header,
#dynamic-filter .ui.header {
  margin-bottom: 0;
  color: #59a3bc;
  font-weight: bold;
}

#popup-details .popover-body a {
  text-decoration: underline;
}

#popup-details .popover-body .description {
  overflow: auto;
  max-height: 100px;
  word-break: break-word;
}

#popup-details .popover-body .row {
  margin-bottom: 1rem;
}

#popup-details .popover-body .row:last-child {
  margin-bottom: 0;
}

#popup-details .popover-header .icon {
  cursor: pointer;
  fill: #e16d5d !important;
}

#popup-details .popover-header .icon:hover {
  fill: #c96052 !important;
}

.ol-dynamic-filter {
  position: absolute !important;
  top: 0 !important;
  left: 6rem !important;
  height: 100% !important;
  pointer-events: auto !important;
  transform: none !important;
}

.popover-header {
  padding: 0.5rem 0.75rem;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 0;
  background-color: #f7f7f7;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
  font-size: 1rem;
}

.popover-actions {
  padding: 1rem 2rem;
  border-top: 1px solid #ebebeb;
  background-color: #f7f7f7;
  border-bottom-left-radius: calc(0.3rem - 1px);
  border-bottom-right-radius: calc(0.3rem - 1px);
  text-align: center;
}

.popover-body {
  padding: 0.5rem 0.75rem;
}

.popover-body code {
  color: #e83e8c;
  font-size: 87.5%;
  word-wrap: break-word;
}

.ol-dynamic-filter #dynamic-filter {
  position: relative;
  display: block;
  min-width: 300px;
  max-width: 300px;
  height: 100%;
  padding: 0;
  background-color: #fff;
}

.ol-dynamic-filter #dynamic-filter .dynamic-filter-header,
.ol-dynamic-filter #dynamic-filter .dynamic-filter-body,
.ol-dynamic-filter #dynamic-filter .dynamic-filter-actions {
  padding-right: 2rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
}

.ol-dynamic-filter #dynamic-filter .dynamic-filter-header {
  padding-top: 3rem;
}

.ol-dynamic-filter #dynamic-filter .dynamic-filter-body,
.ol-dynamic-filter #dynamic-filter .dynamic-filter-actions {
  padding-top: 1rem;
}

.ol-overlaycontainer-stopevent #extra-control-buttons {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  padding: 2px;
}

.ol-overlaycontainer-stopevent #extra-control-buttons .ol-control {
  position: relative;
  padding: 0;
  margin: 1px;
}

.ol-rotate {
  display: none;
}

@media only screen and (max-width: 600px) {
  .ol-dynamic-filter {
    left: 0 !important;
  }

  .ol-dynamic-filter #dynamic-filter {
    overflow: hidden;
    width: 0;
    min-width: unset;
    max-width: unset;
    transition: width 0.5s ease-in-out;
  }

  .ol-dynamic-filter #dynamic-filter.show {
    width: 100%;
  }

  .ol-overlaycontainer-stopevent #dynamic-filter-toggle {
    display: block;
  }

  .ol-dynamic-filter #dynamic-filter .dynamic-filter-header,
  .ol-dynamic-filter #dynamic-filter .dynamic-filter-body,
  .ol-dynamic-filter #dynamic-filter .dynamic-filter-actions {
    padding-right: 4rem;
    padding-left: 4rem;
  }
}

@media only screen and (max-width: 460px) {
  #popup-details {
    min-width: 220px;
  }
}

p.mb-1,
p.mb-1:first-child {
  margin-bottom: 1rem;
}
