.map {
  width: 100%;
  height: 100%;
}

.openlayer-map-container {
  height: 100%;
}

.block-edit-wrapper .openlayer-map-container {
  height: 90%;
}

#map-loader.ui.active {
  position: absolute !important;
  pointer-events: auto !important;
  transform: none !important;
  top: 0 !important;
  left: 0 !important;
  right: unset !important;
  bottom: unset !important;
  width: 100% !important;
  height: 100% !important;
}

#popup.popup {
  min-width: 280px;
  max-width: 280px;
  background-color: white;
  position: absolute;
  bottom: 10px;
  transform: translateX(-50%);
}

#popup-details {
  min-width: 420px;
  background-color: white;
}

.ol-popup-details {
  position: absolute !important;
  pointer-events: auto !important;
  transform: translate(-50%, -50%) !important;
  top: 50% !important;
  left: 50% !important;
  right: unset !important;
  bottom: unset !important;
}

.ol-overlay-container.show #popup.popup,
.ol-overlay-container.show #popup-details.popup {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: .3rem;
  border: 1px solid #cccccc;
}

.ol-overlay-container.show #popup-details.popup {
  border: 2px solid #417283;
}

.ol-overlay-container.show #popup.popup:after,
.ol-overlay-container.show #popup.popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.ol-overlay-container.show #popup.popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.ol-overlay-container.show #popup.popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 50%;
  margin-left: -11px;
}

#popup-details:after,
#popup-details:before {
  display: none;
}

#popup-details .popover-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}

#popup-details .popover-actions {
  background-color: transparent;
  border-bottom: none;
}

#popup-details .popover-body {
  padding: 1rem 2rem;
}

#popup-details .popover-actions button.solid {
  padding: 1rem 2rem;
}

#popup-details .popover-header .ui.header,
#popup-details .popover-body .ui.header,
#dynamic-filter .ui.header {
  margin-bottom: 0;
  color: #59A3BC;
  font-weight: bold;
}

#popup-details .popover-body a {
  text-decoration: underline;
}

#popup-details .popover-body .row {
  margin-bottom: 1rem;
}

#popup-details .popover-body .row:last-child {
  margin-bottom: 0;
}

#popup-details .popover-header .icon {
  fill: #E16D5D !important;
  cursor: pointer;
}

#popup-details .popover-header .icon:hover {
  fill: #c96052 !important;
}

.ol-dynamic-filter {
  position: absolute !important;
  pointer-events: auto !important;
  transform: none !important;
  height: 100% !important;
  top: 0 !important;
  left: 6rem !important;
}

.popover-header {
  padding: .5rem .75rem;
  margin-bottom: 0;
  font-size: 1rem;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-top-left-radius: calc(.3rem - 1px);
  border-top-right-radius: calc(.3rem - 1px);
}

.popover-actions {
  text-align: center;
  padding: 1rem 2rem;
  background-color: #f7f7f7;
  border-top: 1px solid #ebebeb;
  border-bottom-left-radius: calc(.3rem - 1px);
  border-bottom-right-radius: calc(.3rem - 1px);
}

.popover-body {
  padding: .5rem .75rem;
}

.popover-body code {
  font-size: 87.5%;
  color: #e83e8c;
  word-wrap: break-word;
}

.ol-dynamic-filter #dynamic-filter {
  display: block;
  position: relative;
  padding: 0;
  background-color: #fff;
  height: 100%;
  min-width: 300px;
  max-width: 300px;
}

.ol-dynamic-filter #dynamic-filter .dynamic-filter-header,
.ol-dynamic-filter #dynamic-filter .dynamic-filter-body,
.ol-dynamic-filter #dynamic-filter .dynamic-filter-actions {
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.ol-dynamic-filter #dynamic-filter .dynamic-filter-header {
  padding-top: 3rem;
}

.ol-dynamic-filter #dynamic-filter .dynamic-filter-body,
.ol-dynamic-filter #dynamic-filter .dynamic-filter-actions {
  padding-top: 1rem;
}

.ol-overlaycontainer-stopevent #dynamic-filter-toggle {
  display: none;
  top: 65px;
  left: .5em;
}

@media only screen and (max-width: 600px) {
  .ol-dynamic-filter {
    left: 0 !important;
    width: 100% !important;
  }

  .ol-dynamic-filter #dynamic-filter {
    width: 0;
    min-width: unset;
    max-width: unset;
    overflow: hidden;
    transition: width .5s ease-in-out;
  }

  .ol-dynamic-filter #dynamic-filter.show {
    width: 100%;
  }

  .ol-overlaycontainer-stopevent #dynamic-filter-toggle {
    display: block;
  }

  .ol-dynamic-filter #dynamic-filter .dynamic-filter-header,
  .ol-dynamic-filter #dynamic-filter .dynamic-filter-body,
  .ol-dynamic-filter #dynamic-filter .dynamic-filter-actions {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}


p.mb-1,
p.mb-1:first-child {
  margin-bottom: 1rem;
}