.searchbox {
  padding: 0 !important;
  border: none !important;
}

.searchbox div.input:not(.glossary) {
  height: 30px;
  padding: 0 3rem;
  border: 1px solid #606060;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 300;
}

.searchbox .icon {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 1rem;
  fill: #606060;
  transform: translateY(-50%);
}

.searchbox .searchIcon {
  cursor: pointer;
}

.searchbox .clearIcon {
  right: 1rem;
  left: unset;
  cursor: pointer;
}

.searchbox .searchIcon,
.searchbox .clearIcon {
  transition: fill 0.2s;
}

.searchbox .searchIcon:hover,
.searchbox .clearIcon:hover {
  fill: #000;
}

.searchbox .floating_search_results {
  position: absolute;
  z-index: 98;
  top: 100%;
  overflow: auto;
  width: 100%;
  max-height: 264px;
  padding: 1rem;
  padding-left: 3rem;
  border: 1px solid #ededed;
  margin: 0;
  margin: 0;
  background: white;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 4px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 4px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 4px -3px rgba(0, 0, 0.75);
  color: #000;
  list-style-type: none;
}

.searchbox li {
  margin-bottom: 0.5rem;
  cursor: pointer;
  font-size: 0.8rem;
  line-height: 1.9;
}

.searchbox li:hover {
  font-weight: bold;
}
