.ui.grid.explore-eprtr {
  margin-left: -1rem !important;
  margin-right: -1rem !important;
}

.ui.grid.explore-eprtr .column {
  display: flex !important;
  justify-content: center;
}

.ui.grid.explore-eprtr .explore-map {
  margin-bottom: 1rem !important;
}

.ui.grid.explore-eprtr .explore-map a img {
  width: 100%;
}

.explore-eprtr .description {
  display: flex !important;
  justify-content: space-between !important;
}

.explore-eprtr .description .explore-tile {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.explore-eprtr .description .explore-tile img {
  margin-right: 1rem;
}

.explore-eprtr .description .explore-tile p {
  margin-bottom: 0;
  color: #4896b0;
  font-size: 1.1em;
}

.explore-eprtr .description .explore-tile p.title {
  margin-bottom: 0;
  color: #00435c;
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 0.2rem;
}

.explore-eprtr .description > a:hover .explore-tile img {
  opacity: 0.9;
}

.explore-eprtr .description > a:hover .explore-tile p {
  color: #00435c;
}
