.detailed-link-container {
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}

.detailed-link-container .detailed-link-title {
  margin-bottom: 1em;
  color: #4296b3;
  font-size: 1.3em;
  font-weight: 600;
  line-height: 23px;
}

.detailed-link-container .detailed-link-description {
  margin-bottom: 1em;
  color: #333;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
}

.detailed-link-container .detailed-link-button {
  display: inline-block;
}

.detailed-link-container .detailed-link-placeholder {
}
