.catalogue-listing-block {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
} 
 
.catalogue-listing-block-item {
    width: 50%;
    min-height: 200px;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    padding-left: 60px;
    position: relative;
}


.catalogue-listing-block-item:nth-child(odd) {
    justify-content: flex-start;
    border-right: 1px solid #eee;
    padding-left: 1rem;
    padding-right: 60px;
}

.catalogue-listing-block-item:nth-child(even) a {
    text-align: right;
}

.catalogue-listing-block-item img {
    position: absolute;
    width: 60px;
    height: auto;
    top: 1rem;
    right: 1rem;
    opacity: 0.5;
}

.catalogue-listing-block-item:nth-child(even) img {
    right: unset;
    left: 1rem;
}

.catalogue-listing-block-item p {
    color: #444;
    font-size: 16px;
    position: relative;
}

.catalogue-listing-block-item {
    border-bottom: 1px solid #eee;
}

.catalogue-listing-block-item:nth-last-child(-n+2) {
    border-bottom: none;
}

.catalogue-listing-block-item-title {
    font-family: 'Roboto Condensed';
    font-size: 28px;
    color: rgb(102,102,102);
    font-weight: bold;
    position: relative;
}

.center-heading h1.documentFirstHeading {
    text-align: center;
}