.site-header .info {
  word-break: break-all;
}

.site-header h3.title {
  margin-bottom: 1rem !important;
  color: #4296b2;
}

.site-header .label {
  font-weight: bold;
  margin-bottom: 0;
}

.site-header .info {
  margin-bottom: 0;
}