.embeded-iframe {
  border: none;
}

.eprtr-iframe h3.blue {
  color: #4296B2;
}

.eprtr-iframe .header-tooltip {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.eprtr-iframe .floating-icon {
  display: flex;
}

.eprtr-iframe .header-tooltip h3 {
  margin-bottom: 0;
  margin-right: 0.3rem;
}

.eprtr-iframe iframe {
  width: 100%;
}