/* DISPLAY */
.flex {
  display: flex;
}
.grid {
  display: grid;
  grid-gap: 20px;
}
.display-block {
  display: block;
}
/* GRID LAYOUT */
div.grid-cl-3 {
  grid-template-columns: repeat(3, 1fr);
}
div.grid-cl-2 {
  grid-template-columns: repeat(2, 1fr);
}
/* FLEX FLOW */
div.flex-row {
  flex-flow: row;
}
div.flex-column {
  flex-flow: column;
}
/* ALIGN ITEMS */
div.align-center {
  align-items: center;
}
/* JUSTIFY CONTENT */
div.space-between {
  justify-content: space-between;
}

div.banner {
  background: #4296B2;
  color: #fff;
  padding: 0 1rem;
  border-radius: 10px;
}

div.banner p {
  color: #fff;
}

.light-blue {
  color: #4296B2;
}

div.flex-item {
  margin: 1rem;
}
/* PARAGRAPH */
p.bold {
  font-weight: bold;
}
p.lighter {
  font-weight: 300;
}
p.info {
  color: #989898;
  font-weight: 300;
  font-size: 14px;
}
p.dark {
  color: #333333;
}
/* MARGINS */
.mt-0 {
  margin-top: 0;
}
.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mb-0 {
  margin-bottom: 0;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.ml-0 {
  margin-top: 0;
}
.ml-1 {
  margin-top: 1rem;
}
.ml-2 {
  margin-top: 2rem;
}
.mr-0 {
  margin-bottom: 0;
}
.mr-1 {
  margin-bottom: 1rem;
}
.mr-2 {
  margin-bottom: 2rem;
}

/* WIDTHS */
.w-40 {
  width: 40%;
}
.w-50 {
  width: 50%;
}
.w-60 {
  width: 60%;
}


.bat-container {
  border: 1px solid #606060;
  padding: 16px;
  border-radius: 10px;
  box-sizing: border-box;
}

.bat-container div.hr {
  height: 1px;
  background-color: #606060;
}

.bat-container a,
.bat-container a:hover {
  text-decoration: underline;
}

@media(max-width: 768px) {
  div.responsive.flex {
    flex-flow: column;
  }
  div.responsive.flex > * {
    width: 100%;
    margin-bottom: 26px;
  }
  div.responsive.grid.grid-cl-3 {
    grid-template-columns: repeat(2, 1fr);
  }
}